nodered/flows.json
[
    {
        "id": "73ed59767e5b7198",
        "type": "tab",
        "label": "NullSpaceFlowThermostatMqtt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b5df5d862a82e9c",
        "type": "comment",
        "z": "73ed59767e5b7198",
        "name": "NULL-SPACE-PROJECT-MQTT-CLIENT-WIFI-THERMOSTAT",
        "info": "",
        "x": 700,
        "y": 40,
        "wires": []
    },
    {
        "id": "8e4c760db05b658f",
        "type": "mqtt in",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "node/bedroom/actual/temperature",
        "qos": "2",
        "datatype": "utf8",
        "broker": "0de0ca9675d8b162",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "bc64b72e6f4a6492"
            ]
        ]
    },
    {
        "id": "bc64b72e6f4a6492",
        "type": "ui_chart",
        "z": "73ed59767e5b7198",
        "name": "",
        "group": "c6736df009c6cf17",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature [째C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "120",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1bef370c92b36395",
        "type": "inject",
        "z": "73ed59767e5b7198",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "9a2997b65f5f33bc",
                "96cc611aa91e474f",
                "e4c07cd9f2c7abe2",
                "9bd83dfa7422bfb3",
                "8919a12c98db492d",
                "f58ebf7c9388d2a2"
            ]
        ]
    },
    {
        "id": "d99b2312e955a6fd",
        "type": "ui_chart",
        "z": "73ed59767e5b7198",
        "name": "",
        "group": "c6736df009c6cf17",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "120",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "10adc991ade039bc",
        "type": "mqtt in",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "node/bedroom/actual/humidity",
        "qos": "2",
        "datatype": "utf8",
        "broker": "0de0ca9675d8b162",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "d99b2312e955a6fd"
            ]
        ]
    },
    {
        "id": "0fc2040b22af6345",
        "type": "mqtt in",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "node/bathroom/actual/temperature",
        "qos": "2",
        "datatype": "utf8",
        "broker": "0de0ca9675d8b162",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 1180,
        "wires": [
            [
                "cdb079b790ba0e23"
            ]
        ]
    },
    {
        "id": "cdb079b790ba0e23",
        "type": "ui_chart",
        "z": "73ed59767e5b7198",
        "name": "",
        "group": "467771789b199b74",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature [째C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "120",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "fc3cc3a276bda2f7",
        "type": "ui_chart",
        "z": "73ed59767e5b7198",
        "name": "",
        "group": "467771789b199b74",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "120",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "c81ebe1573ebe755",
        "type": "mqtt in",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "node/bathroom/actual/humidity",
        "qos": "2",
        "datatype": "utf8",
        "broker": "0de0ca9675d8b162",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 1360,
        "wires": [
            [
                "fc3cc3a276bda2f7"
            ]
        ]
    },
    {
        "id": "9a2997b65f5f33bc",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "RANDOM NUMBER GENERATOR",
        "func": "function getRandomArbitrary(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\n\nmsg.payload = getRandomArbitrary(0, 40).toString();\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 280,
        "wires": [
            [
                "bc64b72e6f4a6492"
            ]
        ]
    },
    {
        "id": "96cc611aa91e474f",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "RANDOM NUMBER GENERATOR",
        "func": "function getRandomArbitrary(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\n\nmsg.payload = getRandomArbitrary(0, 40).toString();\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "d99b2312e955a6fd"
            ]
        ]
    },
    {
        "id": "e4c07cd9f2c7abe2",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "RANDOM NUMBER GENERATOR",
        "func": "function getRandomArbitrary(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\n\nmsg.payload = getRandomArbitrary(0, 40).toString();\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1260,
        "wires": [
            [
                "cdb079b790ba0e23"
            ]
        ]
    },
    {
        "id": "9bd83dfa7422bfb3",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "RANDOM NUMBER GENERATOR",
        "func": "function getRandomArbitrary(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\n\nmsg.payload = getRandomArbitrary(0, 40).toString();\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1300,
        "wires": [
            [
                "fc3cc3a276bda2f7"
            ]
        ]
    },
    {
        "id": "f7eca218f4b08e3f",
        "type": "ui_colour_picker",
        "z": "73ed59767e5b7198",
        "name": "",
        "label": "",
        "group": "5c121feb8b6ce317",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 410,
        "y": 860,
        "wires": [
            [
                "8ee701c31484f946",
                "0d52b0ed48b58f6a"
            ]
        ]
    },
    {
        "id": "8ee701c31484f946",
        "type": "debug",
        "z": "73ed59767e5b7198",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 780,
        "wires": []
    },
    {
        "id": "0c9f79cd3e027385",
        "type": "ui_switch",
        "z": "73ed59767e5b7198",
        "name": "",
        "label": "Lamp Switch",
        "tooltip": "",
        "group": "5c121feb8b6ce317",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 900,
        "wires": [
            [
                "8ee701c31484f946",
                "09ceeaccda2e46e8"
            ]
        ]
    },
    {
        "id": "b18ca9dd1dc2eff6",
        "type": "ui_led",
        "z": "73ed59767e5b7198",
        "order": 2,
        "group": "5c121feb8b6ce317",
        "width": 0,
        "height": 0,
        "label": "Lamp Status:",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "Status Led",
        "x": 1150,
        "y": 600,
        "wires": []
    },
    {
        "id": "bc8c019a20b06aaf",
        "type": "mqtt in",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "node/bedroom/lamp/actual/onoff",
        "qos": "2",
        "datatype": "utf8",
        "broker": "0de0ca9675d8b162",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 580,
        "wires": [
            [
                "e1d66b73643b54fb"
            ]
        ]
    },
    {
        "id": "06897777c253a361",
        "type": "mqtt in",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "node/bedroom/lamp/actual/color",
        "qos": "2",
        "datatype": "utf8",
        "broker": "0de0ca9675d8b162",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "b32781cc87da610c"
            ]
        ]
    },
    {
        "id": "e1d66b73643b54fb",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "",
        "func": "var bedroom_lamp = global.get(\"bedroom_lamp\");\n\nif(msg.payload==\"on\")\n{\n    bedroom_lamp.onoff=true;\n}\nelse if (msg.payload == \"off\")\n{\n    bedroom_lamp.onoff = false;\n}\n\nglobal.set(\"bedroom_lamp\", bedroom_lamp);\n\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 580,
        "wires": [
            [
                "05ef6c7ee34c2f35"
            ]
        ]
    },
    {
        "id": "ece8fd7cb08aec9b",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "START-UP",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nvar bedroom_lamp = {\"onoff\": false, 'color': {'r':0,'g':0,'b':0}};\nglobal.set('bedroom_lamp', bedroom_lamp);\n\nvar bathroom_lamp = { \"onoff\": false, 'color': { 'r': 0, 'g': 0, 'b': 0 } };\nglobal.set('bathroom_lamp', bathroom_lamp);\n\n",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b32781cc87da610c",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "",
        "func": "var bedroom_lamp = global.get(\"bedroom_lamp\");\n\nvar color_uint32 = parseInt(msg.payload);\nvar r = color_uint32 >> 16 & 0xFF;\nvar g = color_uint32 >> 8 & 0xFF;\nvar b = color_uint32 >> 0 & 0xFF;\nbedroom_lamp.color.r = r;\nbedroom_lamp.color.g = g;\nbedroom_lamp.color.b = b;\n\nglobal.set(\"bedroom_lamp\", bedroom_lamp);\n\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 620,
        "wires": [
            [
                "05ef6c7ee34c2f35"
            ]
        ]
    },
    {
        "id": "05ef6c7ee34c2f35",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "",
        "func": "function valueToHex(c) {\n    var hex = c.toString(16);\n    return hex.length == 1 ? \"0\" + hex : hex;\n}\nfunction rgbToHex(r, g, b) {\n    return ('#'+ valueToHex(r) + valueToHex(g) + valueToHex(b));\n}\n\n//console.log(rgbToHex(0, 255, 0));\nvar bedroom_lamp = global.get(\"bedroom_lamp\");\n\nmsg.colorForValue={};\nmsg.colorForValue[true] = rgbToHex(bedroom_lamp.color.r, bedroom_lamp.color.g, bedroom_lamp.color.b);\nmsg.colorForValue[false] = 'grey';\n\nmsg.payload = bedroom_lamp.onoff;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 6,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 600,
        "wires": [
            [
                "b18ca9dd1dc2eff6"
            ]
        ]
    },
    {
        "id": "082d3966c825ad72",
        "type": "inject",
        "z": "73ed59767e5b7198",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 630,
        "y": 520,
        "wires": [
            [
                "e1d66b73643b54fb"
            ]
        ]
    },
    {
        "id": "c590e6a8b27236ea",
        "type": "inject",
        "z": "73ed59767e5b7198",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "505029",
        "payloadType": "str",
        "x": 730,
        "y": 660,
        "wires": [
            [
                "b32781cc87da610c"
            ]
        ]
    },
    {
        "id": "9c2c5eaffdec5edd",
        "type": "inject",
        "z": "73ed59767e5b7198",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 630,
        "y": 480,
        "wires": [
            [
                "e1d66b73643b54fb"
            ]
        ]
    },
    {
        "id": "0d52b0ed48b58f6a",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "generate r,g,b string",
        "func": "\nvar rgb_string = msg.payload.r + ',' + msg.payload.g + ',' + msg.payload.b;\nmsg.payload = rgb_string;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 880,
        "wires": [
            [
                "eb80dab520056c33",
                "2d8826f3873be7e8"
            ]
        ]
    },
    {
        "id": "eb80dab520056c33",
        "type": "debug",
        "z": "73ed59767e5b7198",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 840,
        "wires": []
    },
    {
        "id": "2d8826f3873be7e8",
        "type": "mqtt out",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "node/bedroom/lamp/cmd/color",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0de0ca9675d8b162",
        "x": 1010,
        "y": 900,
        "wires": []
    },
    {
        "id": "09ceeaccda2e46e8",
        "type": "mqtt out",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "node/bedroom/lamp/cmd/onoff",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0de0ca9675d8b162",
        "x": 1030,
        "y": 980,
        "wires": []
    },
    {
        "id": "f61ff4035e22fcba",
        "type": "comment",
        "z": "73ed59767e5b7198",
        "name": "MQTT BEDROOM SUBS",
        "info": "",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "3d24a6956669e651",
        "type": "comment",
        "z": "73ed59767e5b7198",
        "name": "MQTT BEDROOM PUBS",
        "info": "",
        "x": 630,
        "y": 760,
        "wires": []
    },
    {
        "id": "1eba94e37c1f98a0",
        "type": "ui_led",
        "z": "73ed59767e5b7198",
        "order": 3,
        "group": "a4ca78fac12a3f9c",
        "width": 0,
        "height": 0,
        "label": "Lamp Status:",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "Status Led",
        "x": 970,
        "y": 1540,
        "wires": []
    },
    {
        "id": "0ec1fde5b53059d7",
        "type": "mqtt in",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "node/bathroom/lamp/actual/onoff",
        "qos": "2",
        "datatype": "utf8",
        "broker": "0de0ca9675d8b162",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 1520,
        "wires": [
            [
                "9dc04aae62cd0530"
            ]
        ]
    },
    {
        "id": "8119408ae0555766",
        "type": "mqtt in",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "node/bathroom/lamp/actual/color",
        "qos": "2",
        "datatype": "utf8",
        "broker": "0de0ca9675d8b162",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 1560,
        "wires": [
            [
                "db6da8eecb4bf9c5"
            ]
        ]
    },
    {
        "id": "9dc04aae62cd0530",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "",
        "func": "var bathroom_lamp = global.get(\"bathroom_lamp\");\n\nif(msg.payload==\"on\")\n{\n    bathroom_lamp.onoff=true;\n}\nelse if (msg.payload == \"off\")\n{\n    bathroom_lamp.onoff = false;\n}\n\nglobal.set(\"bathroom_lamp\", bathroom_lamp);\n\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1520,
        "wires": [
            [
                "415171193e13292b"
            ]
        ]
    },
    {
        "id": "db6da8eecb4bf9c5",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "",
        "func": "var bathroom_lamp = global.get(\"bathroom_lamp\");\n\nvar color_uint32 = parseInt(msg.payload);\nvar r = color_uint32 >> 16 & 0xFF;\nvar g = color_uint32 >> 8 & 0xFF;\nvar b = color_uint32 >> 0 & 0xFF;\nbathroom_lamp.color.r = r;\nbathroom_lamp.color.g = g;\nbathroom_lamp.color.b = b;\n\nglobal.set(\"bathroom_lamp\", bathroom_lamp);\n\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1560,
        "wires": [
            [
                "415171193e13292b"
            ]
        ]
    },
    {
        "id": "415171193e13292b",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "",
        "func": "function valueToHex(c) {\n    var hex = c.toString(16);\n    return hex.length == 1 ? \"0\" + hex : hex;\n}\nfunction rgbToHex(r, g, b) {\n    return ('#'+ valueToHex(r) + valueToHex(g) + valueToHex(b));\n}\n\n//console.log(rgbToHex(0, 255, 0));\nvar bedroom_lamp = global.get(\"bedroom_lamp\");\n\nmsg.colorForValue={};\nmsg.colorForValue[true] = rgbToHex(bedroom_lamp.color.r, bedroom_lamp.color.g, bedroom_lamp.color.b);\nmsg.colorForValue[false] = 'grey';\n\nmsg.payload = bedroom_lamp.onoff;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 6,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1540,
        "wires": [
            [
                "1eba94e37c1f98a0"
            ]
        ]
    },
    {
        "id": "1455153a1f0e0bae",
        "type": "inject",
        "z": "73ed59767e5b7198",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 450,
        "y": 1460,
        "wires": [
            [
                "9dc04aae62cd0530"
            ]
        ]
    },
    {
        "id": "0a3d93c33d6c2d4d",
        "type": "inject",
        "z": "73ed59767e5b7198",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "505029",
        "payloadType": "str",
        "x": 550,
        "y": 1600,
        "wires": [
            [
                "db6da8eecb4bf9c5"
            ]
        ]
    },
    {
        "id": "7069a5288861f644",
        "type": "inject",
        "z": "73ed59767e5b7198",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 450,
        "y": 1420,
        "wires": [
            [
                "9dc04aae62cd0530"
            ]
        ]
    },
    {
        "id": "e6c0d5d3981db404",
        "type": "comment",
        "z": "73ed59767e5b7198",
        "name": "MQTT BATHROOM SUBS",
        "info": "",
        "x": 610,
        "y": 1120,
        "wires": []
    },
    {
        "id": "5e89d441acfab389",
        "type": "comment",
        "z": "73ed59767e5b7198",
        "name": "MQTT BATHROOM PUBS",
        "info": "",
        "x": 550,
        "y": 1660,
        "wires": []
    },
    {
        "id": "78ded4e8cf3b6aa9",
        "type": "debug",
        "z": "73ed59767e5b7198",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1700,
        "wires": []
    },
    {
        "id": "0a0cac9bc9b2cea9",
        "type": "ui_colour_picker",
        "z": "73ed59767e5b7198",
        "name": "",
        "label": "",
        "group": "a4ca78fac12a3f9c",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 270,
        "y": 1780,
        "wires": [
            [
                "78ded4e8cf3b6aa9",
                "b8a6a7c72d13db80"
            ]
        ]
    },
    {
        "id": "558f15a063044a8c",
        "type": "ui_switch",
        "z": "73ed59767e5b7198",
        "name": "",
        "label": "Lamp Switch",
        "tooltip": "",
        "group": "a4ca78fac12a3f9c",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 270,
        "y": 1820,
        "wires": [
            [
                "78ded4e8cf3b6aa9",
                "4c9ad4dfb2c80b11"
            ]
        ]
    },
    {
        "id": "b8a6a7c72d13db80",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "generate r,g,b string",
        "func": "\nvar rgb_string = msg.payload.r + ',' + msg.payload.g + ',' + msg.payload.b;\nmsg.payload = rgb_string;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1800,
        "wires": [
            [
                "eca7b8490533b8ea",
                "df3bbafd42b33bc3"
            ]
        ]
    },
    {
        "id": "4c9ad4dfb2c80b11",
        "type": "mqtt out",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "node/bathroom/lamp/cmd/onoff",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0de0ca9675d8b162",
        "x": 890,
        "y": 1900,
        "wires": []
    },
    {
        "id": "eca7b8490533b8ea",
        "type": "debug",
        "z": "73ed59767e5b7198",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1760,
        "wires": []
    },
    {
        "id": "df3bbafd42b33bc3",
        "type": "mqtt out",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "node/bathroom/lamp/cmd/color",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0de0ca9675d8b162",
        "x": 870,
        "y": 1820,
        "wires": []
    },
    {
        "id": "16ed6b8501636538",
        "type": "comment",
        "z": "73ed59767e5b7198",
        "name": "MQTT CENTRAL STATION SUBS",
        "info": "",
        "x": 620,
        "y": 2020,
        "wires": []
    },
    {
        "id": "a7437866a3af9f40",
        "type": "mqtt in",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "central/thermostat/actual/temperature",
        "qos": "2",
        "datatype": "utf8",
        "broker": "0de0ca9675d8b162",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 2100,
        "wires": [
            [
                "a9bbff8e99286acb"
            ]
        ]
    },
    {
        "id": "a9bbff8e99286acb",
        "type": "ui_chart",
        "z": "73ed59767e5b7198",
        "name": "",
        "group": "3c1f5ab2d74f8f92",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature [째C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "120",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "6e397ae9d14028a0",
        "type": "ui_chart",
        "z": "73ed59767e5b7198",
        "name": "",
        "group": "3c1f5ab2d74f8f92",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "120",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 2240,
        "wires": [
            []
        ]
    },
    {
        "id": "7a78aea566359108",
        "type": "mqtt in",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "central/thermostat/actual/humidity",
        "qos": "2",
        "datatype": "utf8",
        "broker": "0de0ca9675d8b162",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 2280,
        "wires": [
            [
                "6e397ae9d14028a0"
            ]
        ]
    },
    {
        "id": "8919a12c98db492d",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "RANDOM NUMBER GENERATOR",
        "func": "function getRandomArbitrary(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\n\nmsg.payload = getRandomArbitrary(0, 40).toString();\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2180,
        "wires": [
            [
                "a9bbff8e99286acb"
            ]
        ]
    },
    {
        "id": "f58ebf7c9388d2a2",
        "type": "function",
        "z": "73ed59767e5b7198",
        "name": "RANDOM NUMBER GENERATOR",
        "func": "function getRandomArbitrary(min, max) {\n    return Math.random() * (max - min) + min;\n}\n\n\nmsg.payload = getRandomArbitrary(0, 40).toString();\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2220,
        "wires": [
            [
                "6e397ae9d14028a0"
            ]
        ]
    },
    {
        "id": "8f21999cdce11d02",
        "type": "mqtt in",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "central/thermostat/boiler/actual/onoff",
        "qos": "2",
        "datatype": "utf8",
        "broker": "0de0ca9675d8b162",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 2360,
        "wires": [
            [
                "d2de462f1c5108fe"
            ]
        ]
    },
    {
        "id": "d2de462f1c5108fe",
        "type": "ui_led",
        "z": "73ed59767e5b7198",
        "order": 6,
        "group": "c032f5609c99ec4b",
        "width": 0,
        "height": 0,
        "label": "Boiler Status:",
        "labelPlacement": "left",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#0000ff",
                "value": "on",
                "valueType": "str"
            },
            {
                "color": "#808080",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Boiler Status",
        "x": 750,
        "y": 2360,
        "wires": []
    },
    {
        "id": "bfa351910283d526",
        "type": "ui_gauge",
        "z": "73ed59767e5b7198",
        "name": "",
        "group": "c032f5609c99ec4b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Actual Setpoint",
        "label": "[째C]",
        "format": "{{value}}",
        "min": "18",
        "max": "30",
        "colors": [
            "#0212e8",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "className": "",
        "x": 800,
        "y": 2460,
        "wires": []
    },
    {
        "id": "7eb316fa67ce497a",
        "type": "inject",
        "z": "73ed59767e5b7198",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "29.1",
        "payloadType": "str",
        "x": 390,
        "y": 2460,
        "wires": [
            [
                "bfa351910283d526"
            ]
        ]
    },
    {
        "id": "f9356a49163f26df",
        "type": "mqtt in",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "central/thermostat/actual/setpoint/temperature",
        "qos": "2",
        "datatype": "utf8",
        "broker": "0de0ca9675d8b162",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 2500,
        "wires": [
            [
                "bfa351910283d526"
            ]
        ]
    },
    {
        "id": "ef7a085fc2d39283",
        "type": "comment",
        "z": "73ed59767e5b7198",
        "name": "MQTT CENTRAL STATION PUBS",
        "info": "",
        "x": 580,
        "y": 2580,
        "wires": []
    },
    {
        "id": "f0adb5e8ec2ae192",
        "type": "ui_switch",
        "z": "73ed59767e5b7198",
        "name": "",
        "label": "Boiler Switch",
        "tooltip": "",
        "group": "c032f5609c99ec4b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 2660,
        "wires": [
            [
                "93f60ec083e438d1",
                "6ad0627b572a2d59"
            ]
        ]
    },
    {
        "id": "93f60ec083e438d1",
        "type": "mqtt out",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "central/thermostat/boiler/cmd/onoff",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0de0ca9675d8b162",
        "x": 720,
        "y": 2660,
        "wires": []
    },
    {
        "id": "d7aa58d9e4e7bfcb",
        "type": "ui_slider",
        "z": "73ed59767e5b7198",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c032f5609c99ec4b",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "18",
        "max": "30",
        "step": "0.1",
        "className": "",
        "x": 350,
        "y": 2780,
        "wires": [
            [
                "6ad0627b572a2d59",
                "ea4819f0d8190569"
            ]
        ]
    },
    {
        "id": "6ad0627b572a2d59",
        "type": "debug",
        "z": "73ed59767e5b7198",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 2740,
        "wires": []
    },
    {
        "id": "2395119953bd9c8b",
        "type": "ui_text",
        "z": "73ed59767e5b7198",
        "group": "c032f5609c99ec4b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Set Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 380,
        "y": 2740,
        "wires": []
    },
    {
        "id": "ea4819f0d8190569",
        "type": "mqtt out",
        "z": "73ed59767e5b7198",
        "name": "",
        "topic": "central/thermostat/cmd/setpoint/temperature",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0de0ca9675d8b162",
        "x": 730,
        "y": 2820,
        "wires": []
    },
    {
        "id": "34031628085c8aed",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 1,
        "width": 17,
        "height": 1
    },
    {
        "id": "84222137e4640687",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 2,
        "width": 17,
        "height": 1
    },
    {
        "id": "af27e3136c688dcc",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 4,
        "width": 17,
        "height": 1
    },
    {
        "id": "5c219445e2299788",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 5,
        "width": 17,
        "height": 1
    },
    {
        "id": "57855cf4e907e04d",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 6,
        "width": 17,
        "height": 1
    },
    {
        "id": "1b318ebcdeafcee8",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 3,
        "width": 17,
        "height": 1
    },
    {
        "id": "939d0d1adae26552",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 7,
        "width": 17,
        "height": 1
    },
    {
        "id": "6dbc141a34f5da90",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 8,
        "width": 17,
        "height": 1
    },
    {
        "id": "e9444b0cded9fb11",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 9,
        "width": 17,
        "height": 1
    },
    {
        "id": "dd123a29830fdab9",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 10,
        "width": 4,
        "height": 1
    },
    {
        "id": "aaa6aa5e9ce91738",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 11,
        "width": 24,
        "height": 1
    },
    {
        "id": "f237890784b4cbe6",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "5ca9cda2ef9cceb1",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 13,
        "width": 24,
        "height": 1
    },
    {
        "id": "9ceb6af52ac25edc",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 14,
        "width": 4,
        "height": 1
    },
    {
        "id": "6bf30395d1413a80",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 15,
        "width": 24,
        "height": 1
    },
    {
        "id": "46d263afa2920242",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "b5a9598b4c236d20",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 17,
        "width": 24,
        "height": 1
    },
    {
        "id": "40b1f70a829cba28",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "1fda77452feb311a",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 19,
        "width": 24,
        "height": 1
    },
    {
        "id": "0f3ef545aaa5e4cd",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 20,
        "width": 32,
        "height": 1
    },
    {
        "id": "7db8c39d4f287c62",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 21,
        "width": 32,
        "height": 1
    },
    {
        "id": "1ce2caa21efa1f46",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 22,
        "width": 32,
        "height": 1
    },
    {
        "id": "388c1cf1c3a401f3",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 23,
        "width": 32,
        "height": 1
    },
    {
        "id": "78d2d0e72d129a2b",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 24,
        "width": 32,
        "height": 1
    },
    {
        "id": "683c840438da590c",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 25,
        "width": 32,
        "height": 1
    },
    {
        "id": "f67a2148a305f078",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 26,
        "width": 32,
        "height": 1
    },
    {
        "id": "2902ccce47b5e7e3",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 27,
        "width": 32,
        "height": 1
    },
    {
        "id": "c09c5095977985ae",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 28,
        "width": 32,
        "height": 1
    },
    {
        "id": "c6705310823d770c",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 29,
        "width": 32,
        "height": 1
    },
    {
        "id": "7fb55dcf8365c8b1",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 30,
        "width": 32,
        "height": 1
    },
    {
        "id": "c6a917f160dacde0",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 31,
        "width": 32,
        "height": 1
    },
    {
        "id": "d1080a493bfb5a3a",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 32,
        "width": 32,
        "height": 1
    },
    {
        "id": "bfedb02e96f273ca",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 33,
        "width": 32,
        "height": 1
    },
    {
        "id": "55a443948d42d922",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 34,
        "width": 32,
        "height": 1
    },
    {
        "id": "627458ed64ab603e",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 35,
        "width": 32,
        "height": 1
    },
    {
        "id": "244f99e275aac859",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 36,
        "width": 32,
        "height": 1
    },
    {
        "id": "e6b84cdf6483ccfa",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 37,
        "width": 32,
        "height": 1
    },
    {
        "id": "72e160bf05eaf743",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 38,
        "width": 32,
        "height": 1
    },
    {
        "id": "879a5ec864da20dc",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 39,
        "width": 32,
        "height": 1
    },
    {
        "id": "3aec9c964742f50b",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 40,
        "width": 32,
        "height": 1
    },
    {
        "id": "6fea8cd6aa3fe764",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 41,
        "width": 32,
        "height": 1
    },
    {
        "id": "b8ee2b3be5b871a3",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 42,
        "width": 32,
        "height": 1
    },
    {
        "id": "9e37aa26d86ffb2a",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 43,
        "width": 32,
        "height": 1
    },
    {
        "id": "64fee16e7a040724",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 44,
        "width": 32,
        "height": 1
    },
    {
        "id": "2d077d5ed1fe275d",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 45,
        "width": 32,
        "height": 1
    },
    {
        "id": "de374eb64c8d4088",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 46,
        "width": 32,
        "height": 1
    },
    {
        "id": "4f98b3e1029b0320",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 47,
        "width": 32,
        "height": 1
    },
    {
        "id": "095685cfbb4920f8",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 48,
        "width": 32,
        "height": 1
    },
    {
        "id": "946bb7a39884e06a",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 49,
        "width": 32,
        "height": 1
    },
    {
        "id": "c7d61ec62387ccdd",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 50,
        "width": 32,
        "height": 1
    },
    {
        "id": "021bbc7cb5875254",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 51,
        "width": 32,
        "height": 1
    },
    {
        "id": "616af6f234e0759a",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 52,
        "width": 32,
        "height": 1
    },
    {
        "id": "49c851b9ae9ef4f0",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 53,
        "width": 32,
        "height": 1
    },
    {
        "id": "f5129f3acd735d64",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 54,
        "width": 32,
        "height": 1
    },
    {
        "id": "86023a6f2a72348c",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 55,
        "width": 24,
        "height": 1
    },
    {
        "id": "6ecc1b502daa2f8b",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 56,
        "width": 24,
        "height": 1
    },
    {
        "id": "e6335ee4043b8952",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 57,
        "width": 24,
        "height": 1
    },
    {
        "id": "580547cb2e266c0b",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 58,
        "width": 24,
        "height": 1
    },
    {
        "id": "ccbb83ae98f3e6b3",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 59,
        "width": 24,
        "height": 1
    },
    {
        "id": "ada7b96239f67866",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 60,
        "width": 24,
        "height": 1
    },
    {
        "id": "82f42a08ed4b7f87",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "413c29676f3e2da5",
        "order": 61,
        "width": 24,
        "height": 1
    },
    {
        "id": "dbbf2e50a45e2870",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "c032f5609c99ec4b",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "1a09e360da3f6d7d",
        "type": "ui_spacer",
        "z": "73ed59767e5b7198",
        "name": "spacer",
        "group": "c032f5609c99ec4b",
        "order": 7,
        "width": 4,
        "height": 1
    },
    {
        "id": "0de0ca9675d8b162",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.178.44",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c6736df009c6cf17",
        "type": "ui_group",
        "name": "Graph",
        "tab": "5b69b50897d92972",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "467771789b199b74",
        "type": "ui_group",
        "name": "Graph",
        "tab": "337ec55dba18082c",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c121feb8b6ce317",
        "type": "ui_group",
        "name": "Set Lamp Color",
        "tab": "5b69b50897d92972",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a4ca78fac12a3f9c",
        "type": "ui_group",
        "name": "Set Lamp Color",
        "tab": "337ec55dba18082c",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c1f5ab2d74f8f92",
        "type": "ui_group",
        "name": "Graph",
        "tab": "d3b6c39d7d06623c",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c032f5609c99ec4b",
        "type": "ui_group",
        "name": "Boiler",
        "tab": "d3b6c39d7d06623c",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5b69b50897d92972",
        "type": "ui_tab",
        "name": "BEDROOM",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "337ec55dba18082c",
        "type": "ui_tab",
        "name": "BATHROOM",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d3b6c39d7d06623c",
        "type": "ui_tab",
        "name": "CENTRAL STATION",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]